.App {
    text-align: center;
}

.AppHeader {
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/** new*/
@font-face {
    font-family: FredokaOne;
    src: url(assets/fonts/FredokaOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Raleway;
    src: url(assets/fonts/Raleway-Medium.ttf) format("truetype");
}
.title {
    font-family: FredokaOne;
    letter-spacing: 2px;
}

.content {
    font-family: Raleway;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 0px !important;
}

.card {
    box-shadow: -1px 1px 5px rgb(222 219 219);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 520px;
    height: 520px;
    padding: 25px 40px;
    border-radius: 20px;
    color: black;
    font-family: Raleway;
    opacity: 0.9;
}

p.title {
    font-size: 2.5rem;
    text-shadow: 1px 1px white, -1px -1px #333;
    padding-bottom: 20px;
    color: #ddd;
}

h3.title {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 1.9rem;
    text-shadow: 1px 1px white, -1px -1px #333;
    color: rgb(64, 66, 64);
    letter-spacing: 2px;
}

.notification {
    margin: 15px 0px;
    padding-top: 20px;
    font-weight: bolder;
    font-size: 1.6rem;
    text-shadow: 1px 1px white, -1px -1px #333;
    color: rgb(64, 66, 64);
    letter-spacing: 2px;
}

.notification .country {
    margin-bottom: -5px;
}

.notification p {
    margin-bottom: 5px;
}

hr {
    border: 0px;
    border-bottom: 1px solid;
    border-color: rgb(221, 212, 212);
    box-shadow: 0px 1px 5px rgb(222 219 219);
}

/* boton */
button {
    background-color: #ddd;
    box-shadow: 1px 1px white inset, 2px 3px 5px #333;
    border: none;
    border-radius: 90px;
    margin: 0 auto;
    margin-top: 50px !important;
}

button,
a {
    display: block;
    width: 100px;
    height: 50px;
}

button > a {
    font-family: FredokaOne;
    font-size: 19px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    text-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #ffffff;
    color: #333;
}

/*hora*/
h1.el {
    font-size: 45px;
    color: white;
    margin-top: 0px !important;
    text-shadow: 5px 5px 4px rgb(61, 61, 61);
    margin-bottom: -10px;
}
